body {
	background-color: LightGray;
}

div {
   
}

/*best practice fix so that padding doesn't add to size of divs*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
	background-color: #fff;
}

.container {
		width: 1141.8px;
		height: 70px;
		margin: 0 auto;
		padding: 0 15px;
}

.karmalogo {
	width: 26px;
	display: inline-block;
	padding-top: 15px;
	margin-left:0;

}

.top-navigation .menu {
	list-style: none;
  float: right;
  padding-top: 7.5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16.5px; 
	color: #838994; 
	letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;

}

.top-navigation .menu li {
	display: inline-block;
	margin-left: 26px;
}

.top-navigation .menu .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .menu li:hover {
	color: black;
	cursor: pointer;
}

/*background image section*/


.introduction {
    background-image: url('../images/background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41.8rem;
}

.introtext {
	padding-top:170px;
	color: white;
	text-align: center;
	height: 20rem;
	font-family: 'Roboto';
	font-weight: 300;
}

.introtext h1 {
	font-size:3.125em;
	margin-bottom:0;
}

.button {
	display: block;
	height: 53px;
	width:155px;
	background-color: #f15a29;
	border-radius:5px;
	margin: 0 auto;
	margin-top:20px;
}

a.button {
	text-decoration: none;
	color: white;
	text-align: center;
	padding-top: 15px;
	font-weight:bold;
} 

a.button:hover {
	background-color:#D9400E;

}



